* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #2fddc6;
    --secondary-color: #fce318;
    --tertiary-color: #39a6b2;
}
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}
/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* Hero Style Start */
.hero {
    width: 100vw;
    height: 100vh;/*change to 100*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");/*change to gradient to match nav*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /*better option?*/
}
.hero-text {
    width: 35%;
    text-align: center;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}
.hero-text h2 {
    font-style: italic;
    font-size: 35px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* About me */

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: dense;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin-bottom: 25px;
}
.grid-item {
    justify-content: center;
}
.item-1,
.item-3,
.item-10 {
    border-right: 3px solid;
    border-color: var(--secondary-color);
}
.item-4 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 6vw);
    grid-gap: 15px;
    padding: 25px;

}
.gallery {
    display: flex;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid var(--primary-color);
}
.gallery span {
    margin-top: auto;
    margin-bottom: 15px;
    background-color: #A8ADBA;
    color: #393B4F;
    padding: 10px 5px;
}
.item-5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    background-image: url("https://via.placeholder.com/350");
}
.item-5:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://via.placeholder.com/350");
}
.item-6 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url("https://via.placeholder.com/350/");
}
.item-6:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://via.placeholder.com/350");
}
.item-7 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url("https://via.placeholder.com/350/");
}
.item-7:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://via.placeholder.com/350");
}
.item-8 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 8;
    background-image: url("https://via.placeholder.com/350/");
}
.item-8:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://via.placeholder.com/350");
}
.item-9 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 8;
    background-image: url("../images/run-buddy.JPG");
}
.item-9:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/run-buddy.JPG");
}
.section-title {
    padding: 20px;
    text-align: right;
    margin: 25px auto;
    font-size: 48px;
    color:  var(--primary-color);
}
.grid-item p {
    padding: 20px;
    text-align: left;
    margin: 0 auto;
    line-height: 1.7;
    color: var(--tertiary-color);
    font-size: 20px;
}
.grid-container a {
    text-decoration: none;
    color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    /* this will be applied on any screen smaller than 980px*/
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }
    .hero-text {
        text-align: center;
        width: 100%;
    }

    .section-title {
        width: 100%;
        text-align: center;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    /* this will be applied on any screen between 768px and 575px*/
    .grid-container {
        display: block;
    }
    section {
        padding: 30px 15px;
    }

    .grid-container p {
        text-align: center;
    }
    .grid-container h2 {
        border-bottom: 3px solid;
        border-color: var(--secondary-color);
    }
    .item-1,
    .item-3,
    .item-10 {
        border-right: none;
    }
}
    /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
        /* this will be applied on any screen smaller than 575 px*/
    .section-title {
        width: 95%;
        text-align: center;
    }

    .intro p {
        width: 100%;
    }

    .grid-container p {
        text-align: center;
    }
}